<%- include('../layouts/user-header') %>

    <section class="about">

        <h1 class="title">About Us</h1>

        <div class="row">

            <div class="image">
                <img src="public\images\IMG_5282.png" alt="">
            </div>

            <div class="content">
                <h3>Taste the cakes like ever before </h3>
                <p>"Cake: The answer to all of life's problems (or at least it makes them taste better)."
                    "We've got the recipe for happiness: it's layered, sweet, and comes with frosting. "
                    "Is it even a celebration without cake? We think not!"
                    "Get ready to bake your day with these incredible cake ideas!"
                    "Life is short, eat cake first. " </p>
                <p>one of our highlight is affordable price. you can order any products you crave at cheap price. 
                
                </p>
            </div>

        </div>

        <div class="icons-container">

            <div class="icons">
                <i class="fa fa-truck"></i>
                <h3>Efficient Delivery</h3>
            </div>

            <div class="icons">
                <i class="fa fa-box"></i>
                <h3>Safer Packaging</h3>
            </div>

            <div class="icons">
                <i class="fa fa-credit-card"></i>
                <h3>easy payments</h3>
            </div>

            <div class="icons">
                <i class="fa fa-phone"></i>
                <h3>Call 8197761447</h3>
            </div>
        </div>

    </section>


    <%- include('../layouts/user-footer-section') %>

        <%- include('../layouts/user-footer') %>