<%- include('../layouts/user-header') %>

<section class="contact">

    <h1 class="title"> Get in touch </h1>

    <div class="row">

        <form id="contact-form" action="" >
            <div id="msg-report" class="sent-message text-success">Your message has been sent. Thank you!</div>
            <input name="name" type="text" placeholder="Your Name" class="box">
            <input name="number" type="number" placeholder="Your Number" class="box">
            <input name="email" type="email" placeholder="Your Email" class="box">
            <textarea name="message" placeholder="Your Message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Send Feedback" class="btn">
        </form>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3874.6073368294243!2d75.5732255!3d13.9455465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbbaf1ee4fb860d%3A0x963aac80a032823e!2s2nd+Cross+Rd%2C+Ravindra+Nagara%2C+Shivamogga%2C+Karnataka+577201!5e0!3m2!1sen!2sin!4v1659775437863!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
 </div>

</section>


<%- include('../layouts/user-footer-section') %>

        <%- include('../layouts/user-footer') %>